.App{
  background: #f0f0fa;
  height: 100vh;
}
.neulist:nth-child(even), .neulist:nth-child(odd){background: #f0f0fa;}
.credit, .debit, .neulist{
  margin-left: -40px;
  margin-bottom: 24px;
  box-shadow: 6px 6px 8px #1e1e1e44,
            -6px -6px 8px #ffffff;
  border-radius: 8px;
}
.neulist:hover{border: none;}
li.credit{width: 80%; margin-left: 20%; background: #cc2936; color: #fcfcfc; border-radius: 8px; margin-bottom: 10px;}
li.debit{width: 80%; margin-left: 0px; background: #28b85b; color: #fcfcfc; border-radius: 8px; margin-bottom: 10px;}
li hr{background: #ffffff; border: none; height: 1px;}
li.credit:hover, li.debit:hover{border: none}

.tile{
  background: #f0f0f0;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 8vh;
  font-size: 28px;
  border-radius: 8px;
}
.modal_content{background: #f0f0fa;}
button.bottom-right{
  height: 60px;
  width: 60px;
  border-radius: 90px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 28px;
}

.translist{transform: rotate(180deg);}
.translist li{transform: rotate(180deg);}

.login_middle{
  position: relative;
  top: 5vh;
  min-height: 85vh;
  padding: 20% 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.signup_middle{
  position: relative;
  top: 2vh;
  height: 90vh;
  padding: 5% 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
.btm_brdr{background: inherit;}
@media (max-width: 480px){
  .signup_middle, .login_middle{
    padding: 20% 10%;
    width: 90vw;
    margin-left: -7vw;
  }
}
.icon-center{padding: 4px;}
.snackbar_button.visible{
  display: none;
  text-align: center;
}
.snackbar_button.small{
  padding: 5px 10px;
}

@media (max-width: 480px){
  .dialogue_box{
    left: 6%;
    right: 6%;
  }
}

.radial{
  float: right;
  font-size: 22px;
  border-radius: 90px;
  min-width: 160px;
  font-weight: 400;
}
.profile{
  margin-top: 20px;
  width: 250px;
}
.extradet{
  display: block;
  font-size: 22px;
}
*{font-family: "Barlow";}

.pivot_menu a{
  color: #fcfcfc;
}
a.active{
  background-color: inherit;
  border-bottom: 5px solid #fcfcfc;
  transition: 600ms;
}